/*
USE THESE FONTS:

font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;

USE THESE COLORS:

Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343

CONSIDERATIONS:

The header/navigation component is always fixed to the top. Contents should scroll behind this component.
Navigation links at the top should link to the corresponding pages in your project directory (paths may vary for each .html document).
The currently visited page's navigation link should have an "active" state.
Use flexbox for grid level layout.
The text "dedicated environment" in the first paragraph of the about page is an inline link. It should link a user to the "Facilities" section below when clicked.
The newsletter signup page has a minimum height of the viewport's height.
The newsletter signup module is centered horizontally and vertically on the page.
The "Name" input field on the newsletter page should have the type text.
The "Email" input field on the newsletter page should have the type email.

BONUS:

Create and apply a favicon.
Use CSS only to make navigation links all caps.
Apply a subtle drop shadow to the bottom of the header.
Apply a subtle transition duration to hover and focus states
Apply parallax scrolling to the background image in the "Room to Grow" section on the about page. When scrolled the image appears to stay stationary while the sections above and below scroll over. This can be done with with the css background and background-size properties.
Add the id nameInput to the name input field in the newsletter page.
Add the id emailInput to the email input field in the newsletter page.
Add the id signupButton to the "Submit" button in the newsletter page.
Include the following code snippet just before the closing body tag (</body>) in newsletter/index.html:
<script type="text/javascript">
  var nameInput = document.getElementById('nameInput');
  var emailInput = document.getElementById('emailInput');
  var signupButton = document.getElementById('signupButton');
  signupButton.addEventListener('click', function(e) {
    var nameVal = nameInput.value;
    var emailVal = emailInput.value;
    if (nameVal && emailVal) {
      alert('Thanks for signing up, ' + nameVal + '. Newsletters will be sent to ' + emailVal);
      nameInput.value = "";
      emailInput.value = "";
    } else {
      alert('We would love for you to sign up, please provide both your name and email address.');
    }
  });
</script>

*/


/*NAVBAR AND FOOTER CONTENT HERE*/

body {
  background-color: white;
}

#index-header {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  padding-bottom: 10px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  justify-content: space-around;
}

.main-navigation a {
  text-transform: uppercase;
  font-family: 'Roboto', serif;
  width: 30%;
  max-width: 100%
  justify-content: space-around;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

a:hover {
  color: #967343;
}

a:active {
  color: #968772;
}

.logo-hack {
  width: 30%;
}

#logo {
  height: 47px;
  width: 45px;
  margin-right: 350px;
}


.footer {
  background-color: #003300;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  padding: 20px;
  margin-top: -10px;
}


/* ABOUT.HTML HERE */

h1, h2, p, blockquote, th, td, li, footer {
  font-family: 'Merriweather', sans-serif;
}

.wrapper {
  background-color: #F2F1E8;
  padding: 10px 0px;
}

main > a:link {
  color: #968772;
}

div > h1 {
  text-align: center;
  font-size: 70px;
  font-weight: normal;
}

.about {
  padding: 10px 200px;
  line-height: 200%;
  font-size: 19px;
}

#about-photo-1 {
  float: left;
  padding: 20px 20px 20px 0;
  height: 123px;
  width: auto;
}

blockquote {
  border-left: 2px solid #968772;
  padding-left: 30px;
  font-weight: lighter;
  font-style: oblique;
}

main h1 {
  font-size: 30px;
  font-weight: lighter;
}


.about-stretch-photo {
    background-image: url("/Users/mischy/Desktop/the-iron-yard/weekly projects/week-one-project/images/background-3.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 60px;
    color: white;
    font-weight: lighter;
    text-align: center;
    padding: 200px 0;
}

.photo-caption {
  float: right;
  padding: 5px;
  font-size: 13px;
  font-weight: lighter;
  line-height: 150%;
  width: 20%;
  margin-left: 20px;
}

table {
  border-collapse: collapse;
  width: 79%;
}

th, td {
  border: 1px solid black;
  font-size: 21px;
  padding: 10px;
  font-weight: lighter;
}

table tr:nth-child(even) {
  background-color: blanchedalmond;
}


/* NEWSLETTER.HTML HERE */

.page-wrapper {
  background-image: url("/Users/mischy/Desktop/the-iron-yard/weekly projects/week-one-project/images/background-2.jpg");
  background-size: cover;
  padding: 40px;
}

.newsletter-wrapper {
  background-color: white;
  margin: 50px 400px 50px 350px;
  padding: 40px 28px;
  width: 613px;
}

.newsletter-heading {
  font-size: 30px;
  font-weight: lighter;
  text-align: center;

}

.newsletter-events {
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

label {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: gray;
  padding: 10px;
  margin: 10px;
}

#submit_button {
 background-color: #968772;
 cursor: pointer;
 padding: 15px 40px;
 color: white;
 font-size: 1.25em;
 font-family: 'Roboto', sans-serif;
 border: none;
}

.entries {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #666633;
  margin-bottom: 25px;
  font-size: 1.20em;
}

.submit_container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



/*INDEX.HTML HERE*/


#index-main {
  background-color: #F2F1E8;
  padding-top: 10px;
}

.index-title {
  font-size: 60px;
  font-weight: 400;
}

.index-descript {
  font-size: 35px;
  font-weight: lighter;
  font-family: 'Merriweather', serif;
  text-align: center;
}

.index-photolinks {
  display: flex;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}


.endless-possibilities {
  background-image: url("/Users/mischy/Desktop/the-iron-yard/weekly projects/week-one-project/images/product-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 368px;
  width: 700px;
  margin: 5px;
  text-align: left;
  font-size: 1em;
  padding: 0.5em 1em;

}

.sets {
  background-image: url("/Users/mischy/Desktop/the-iron-yard/weekly projects/week-one-project/images/product-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 368px;
  width: 225px;
  margin: 5px;
  text-align: left;
  font-size: 1em;
  padding: 0.5em 1em;

}
.textures {
  background-image: url("/Users/mischy/Desktop/the-iron-yard/weekly projects/week-one-project/images/product-3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 368px;
  width: 225px;
  margin: 5px;
  text-align: left;
  font-size: 1em;
  padding: 0.5em 1em;
}
.tea-time {
  background-image: url("/Users/mischy/Desktop/the-iron-yard/weekly projects/week-one-project/images/product-4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 237px;
  width: 230px;
  margin: 5px;
  text-align: left;
  font-size: 1em;
  padding: 0.5em 1em;
}
.jars-containers {
  background-image: url("/Users/mischy/Desktop/the-iron-yard/weekly projects/week-one-project/images/product-5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 237px;
  width: 230px;
  margin: 5px;
  text-align: left;
  font-size: 1em;
  padding: 0.5em 1em;
}
.wasabi-saki {
  background-image: url("/Users/mischy/Desktop/the-iron-yard/weekly projects/week-one-project/images/product-6.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 237px;
  width: 418px;
  margin: 5px;
  text-align: left;
  font-size: 1em;
  padding: 0.5em 1em;
}
.sip-sunshine {
  background-image: url("/Users/mischy/Desktop/the-iron-yard/weekly projects/week-one-project/images/product-7.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 237px;
  width: 225px;
  margin: 5px;
  text-align: left;
  font-size: 1em;
  padding: 0.5em 1em;
}
